* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 1000;
    box-shadow: 0 1px 6px 0 #252525;
}

.logoimg {
    width: 75px;
}

.hamburger {
    display: none;
}

.nav-bar {
    display: flex;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #252525;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #252525;
    background: var(--main-color);
}

.nav-bar ul li a.active {
    color: #11101b;
    background: var(--main-color);
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1110px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #252525;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul li a {
        color: #fefefe;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;


    }
}


@media (max-width: 920px) {
    #menu-icon {
        display: block;

        height: 30px;
        width: 30px;
        background: var(--text-color);
        color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: var(--main-color);
        transition: all .5s ease;


    }

    .navbar a {
        display: block;
        padding: 5px;
        margin: 15px;
        font-size: 20px;
        font-weight: 600;
        transition: all .5s ease;

    }

    .navbar a:hover {
        color: var(--bg-color);
    }

    .navbar.active {
        top: 100%;

    }

}