<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/navbar.css" />
    <link rel="stylesheet" href="../styles/css/estilologin.css" />
    <link rel="stylesheet" href="../styles/css/footer.css" />

    <link rel="icon" href="../assets/logo.ico" />

    <title>Contacto</title>
</head>

<body>
    <header>
        <img class="logoimg" src="../assets/logotipo.jpg" alt="" />
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./productos.html">Tienda</a>
                </li>
                <li>
                    <a class="active" href="./contact.html">contactos</a>
                </li>
                <li>
                    <a href="./somos.html">Quiénes Somos</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="form">
        <form action="backend/loginFun.php" method="post">
            <h2>Hola, ¿en qué podemos ayudarte?</h2>
            <span class="lineLogin"></span>
            <p></p>

            <div class="input-group">
                <label for="text">Nombre</label>
                <input type="text" name="name" placeholder="Nombre" id="name" />
                <label for="text">Email</label>
                <input type="email" name="name" placeholder="correoeje@gmail.com" id="email" />
                <label for="telf">Teléfono</label>
                <input type="number" name="telf" placeholder="+58" id="telf" />

                <label for="text">Mensaje</label>
                <input type="text" name="text" placeholder="Escreibe tus comentarios" id="mensage" />
                <input class="btn" type="submit" value="Entrar" name="enviar" id="" />
            </div>
        </form>
    </section>
    <!-- contact section -->
    <section class="contact">
        <div class="contact-box">
            <h4>MY ACCOUNT</h4>
            <li><a href="">My acount</a></li>
            <li><a href="">checkout</a></li>
            <li><a href="">contact Us</a></li>
            <li><a href=""> Shopping cart</a></li>
            <li><a href="">Whislist</a></li>
        </div>

        <div class="contact-box">
            <h4>QUICK LINKS</h4>
            <li><a href="">Storage Location</a></li>
            <li><a href="">Oders Tracking</a></li>
            <li><a href="">My Account</a></li>
            <li><a href="">Size Guide</a></li>
            <li><a href="">FAQs</a></li>
        </div>

        <div class="contact-box">
            <h4>INFORMATION</h4>
            <li><a href="">privacy Page</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Delivery Information</a></li>
            <li><a href="">terms & conditions</a></li>
        </div>
        <div class="contact-box">
            <h4>Adapa</h4>
            <h5>Connect with us</h5>
        </div>
    </section>

    <script src="../script/navbar.js"></script>
</body>

</html>
