<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/navbar.css" />
    <link rel="stylesheet" href="../styles/css/somos.css" />
    <link rel="stylesheet" href="../styles/css/styleindex.css" />
    <link rel="stylesheet" href="../styles/css/footer.css" />

    <link rel="icon" href="../assets/logo.ico" />

    <title>Inicio</title>
</head>

<body>
    <header>
        <img class="logoimg" src="../assets/logotipo.jpg" alt="" />

        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./productos.html">Tienda</a>
                </li>
                <li>
                    <a href="./contact.html">contactos</a>
                </li>
                <li>
                    <a class="active" href="#">Quiénes Somos</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="homeSomos">

        <div class="home-text">
            <h1>
                Carpe Diem Café Arequipe fue fundada en el año 2024 <br />
            </h1>
            <p>
                Por un grupo de Empresarias apasionadas del Café y los dulces
                <br />
                Carpe Diem Café Arequipe, surgió con la visión de fusionar la riqueza del café con la tradición del
                arequipe, creando así un producto único y exquisito.
            </p>
            <a href="./productos.html" class="btn">Ver productos</a>
        </div>
    </section>
    <section class="somosCont">
        <div class="ContB">
            <h2 class="TitleMyV">Identidad de la empresa</h2>

            <p class="InfoMyV">Carpe Diem Café Arequipe se centra en su compromiso con la excelencia, la autenticidad y
                la pasión por ofrecer una experiencia única a sus consumidores. La empresa se enorgullece de su enfoque
                artesanal, cuidando cada detalle en el proceso de elaboración para garantizar un arequipe de café
                excepcional. Su identidad se fundamenta en el respeto por las tradiciones, la búsqueda constante de la
                perfección y el compromiso con la sostenibilidad, lo que se refleja en la calidad de sus ingredientes,
                prácticas responsables y su impacto positivo en la comunidad.</p>

            <img class="imgSVG" src="../assets/svg/credit-card-front-svgrepo-com.svg" alt="...">
        </div>

    </section>
    <section class="somosCont">
        <div class="ContMyV">
            <h2 class="TitleMyV">Misión</h2>
            <p class="InfoMyV">Elaborar y ofrecer a nuestros clientes el Arequipe de Café más delicioso; autentico,
                manteniendo viva la
                tradición de este exquisito dulce, contribuyendo a su vez al desarrollo sostenible de nuestra comunidad,
                a través de prácticas tanto responsables como éticas en la producción.</p>
            <img class="imgSVG" src="../assets/svg/eat-svgrepo-com.svg" alt="...">
        </div>
    </section>

    <section class="somosCont">
        <div class="ContMyV">
            <h2 class="TitleMyV">Visión</h2>
            <p class="InfoMyV">Convertirnos en la Marca referente desde el nivel local hasta internacional en la
                elaboración de arequipe de café, fusionando la tradición de su sabor con la dulzura exquisita que lo
                caracteriza, brindando momentos únicos de disfrute a nuestros clientes.</p>
            <img class="imgSVG" src="../assets/svg/eye-svgrepo-com.svg" alt="...">

        </div>
        s
    </section>

    <section class="somosCont">
        <div class="ContB">
            <h2 class="TitleMyV">Valores Empresariales</h2>
            <p class="InfoMyV">Compromiso, con la excelencia en cada etapa de producción, desde la selección de los
                ingredientes hasta el empaque final, garantizando un producto de la más alta calidad.</p>
            <p class="InfoMyV">Responsabilidad, hacia el medio ambiente y las comunidades cafetaleras, promoviendo
                prácticas agrícolas sostenibles, apoyando el bienestar de los productores de café.</p>
            <p class="InfoMyV">Respeto, por la herencia cultural, culinaria asociada al café y al arequipe, preservando
                recetas tradicionales y técnicas artesanales en la elaboración del producto.</p>
            <p class="InfoMyV">Honestidad y transparencia en todas las operaciones comerciales, cultivando relaciones
                basadas en la confianza con clientes, proveedores y colaboradores.</p>
            <img class="imgSVG" src="../assets/svg/company-cooperation-group-svgrepo-com.svg" alt="...">
        </div>

    </section>

    <!-- contact section -->
    <section class="contact">
        <div class="contact-box">
            <h4>MY ACCOUNT</h4>
            <li><a href="">My acount</a></li>
            <li><a href="">checkout</a></li>
            <li><a href="">contact Us</a></li>
            <li><a href=""> Shopping cart</a></li>
            <li><a href="">Whislist</a></li>
        </div>

        <div class="contact-box">
            <h4>QUICK LINKS</h4>
            <li><a href="">Storage Location</a></li>
            <li><a href="">Oders Tracking</a></li>
            <li><a href="">My Account</a></li>
            <li><a href="">Size Guide</a></li>
            <li><a href="">FAQs</a></li>
        </div>

        <div class="contact-box">
            <h4>INFORMATION</h4>
            <li><a href="">privacy Page</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Delivery Information</a></li>
            <li><a href="">terms & conditions</a></li>
        </div>
        <div class="contact-box">
            <h4>Adapa</h4>
            <h5>Connect with us</h5>
        </div>
    </section>
    <script src="../script/navbar.js"></script>
</body>

</html>